@import "compass/utilities/general/clearfix";

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    margin-bottom: 15px;

  }
  .timeline--inner {
    min-height: 95px;
    @include shadow-2dp();
    padding: 10px;
    background-color: white;
  }

  @media screen and (min-width: 768px) {
    @include clearfix();
    position: relative;

    &:after {
      content: " ";
      display: block;
      width: 4px;
      background-color: unquote("rgba(#{$color-primary}, 0.4)");
      position: absolute;
      border-radius: 4px;
      left: 50%;
      margin-left: -2px;
      top: 15px;
      bottom: 5px;
    }
    & > li {
      width: 50%;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 45px;
      &:after {
        content: " ";
        width: 8px;
        height: 8px;
        background-color: unquote("rgb(#{$color-primary})");
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -4px;
      }

      .timeline--inner:after {
          content: ' ';
          height: 0;
          position: absolute;
          width: 0;
          border: 8px solid transparent;
          top: 50%;
          margin-top: -8px;
      }

      &:nth-child(even) {
        float: right;
        clear: right;
        margin-top: 65px;
        margin-bottom: -65px;
        padding-left: 20px;
        &:after {
          left: -4px;
        }
        .timeline--inner:after {
          border-right-color: white;
          left: 4px;

        }

      }
      &:nth-child(odd) {
        padding-right: 20px;
        float: left;
        clear: left;
        &:after {
          right: -4px;
        }
        .timeline--inner:after {
          border-left-color: white;
          right: 4px;
        }

      }

    }
  }
}