#section-skills {
  margin-top: 75px;
  padding-bottom: 55px;
  h2 {
    text-align: center;
  }
  .mdl-card {
    width: 100%;
    height: auto;
    min-height: 160px;
  }
  .mdl-grid {
    margin: 0 -16px;
  }
}